{{page-title 'Bike'}}
<LinkTo @route='home' class='btn btn-primary my-2' aria-label='back to menu'>
  {{t 'product.back'}}
</LinkTo>

<ProductAdd />

<div class='card mb-3'>
  <div class='row g-0'>
    <div class='col-md-4'>
      <img
        src='https://erharowery.pl/wp-content/uploads/2021/07/Rower-miejski-KANDS-Escape-26-3BN-alu-3-biegi-mietowo-bialy-mat-scaled.jpg'
        class='img-fluid rounded-start'
        alt='bike'
      />
    </div>
    <div class='col-md-8'>
      <div class='card-body'>
        <h5 class='card-title'>{{t 'product.bike.name'}}</h5>
        <p class='card-text'>{{t 'product.bike.description_extended'}}</p>
      </div>
    </div>
  </div>
</div>