<div class='input-group mb-3 w-50 mx-auto'>
  <input
    type='number'
    class='form-control'
    placeholder={{t 'product.select'}}
    aria-label='Username'
    aria-describedby='basic-addon1'
    {{on 'change' this.setProductNumber}}
  />
</div>
<div class='text-center'>
  {{t 'product.number' numItems=this.productNumber htmlSafe=true}}
</div>