{{page-title 'Doll'}}
<div>
  <LinkTo @route='home.product.list'>
    <button type='button' class='btn btn-primary my-2' aria-label='back'>
      {{t 'product.back'}}
    </button>
  </LinkTo>
</div>

<ProductAdd />