{{page-title 'Doll'}}
<div>
  <LinkTo @route='home' class='btn btn-primary my-2' aria-label='back to menu'>
    {{t 'product.back'}}
  </LinkTo>
</div>

<ProductAdd />

<div class='card mb-3'>
  <div class='row g-0'>
    <div class='col-md-4'>
      <img
        src='https://www.zielonezabawki.pl/data/gfx/pictures/medium/4/0/25704_1.jpg'
        class='img-fluid rounded-start'
        alt='doll'
      />
    </div>
    <div class='col-md-8'>
      <div class='card-body'>
        <h5 class='card-title'>{{t 'product.doll.name'}}</h5>
        <p class='card-text'>
          {{t 'product.doll.description_extended'}}
        </p>
      </div>
    </div>
  </div>
</div>