{{page-title 'Car'}}

<LinkTo @route='home' class='btn btn-primary my-2' aria-label='back to menu'>
  {{t 'product.back'}}
</LinkTo>

<ProductAdd />

<div class='card mb-3'>
  <div class='row g-0'>
    <div class='col-md-4'>
      <img
        src='https://bi.im-g.pl/im/a4/50/1b/z28639652Q,Cupra-Formentor-VZ5-Taiga-Grey.jpg'
        class='img-fluid rounded-start'
        alt='car'
      />
    </div>
    <div class='col-md-8'>
      <div class='card-body'>
        <h5 class='card-title'>{{t 'product.car.name'}}</h5>
        <p class='card-text'>{{t 'product.car.description'}}</p>
        <p class='card-text'><small class='text-muted'>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>